<a href="https://colab.research.google.com/github/Hafsah2020/Hamoye_Internship_tasks/blob/main/Hamoye_DS_StageA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
data = '/content/drive/My Drive/Hamoye_fuel.csv'

In [36]:
data = pd.read_csv(data)

In [37]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

## Question 3

In [ ]:
data[data['fuel_cost_per_unit_burned'] == data['fuel_cost_per_unit_burned'].min()]

                    record_id  ...  fuel_cost_per_mmbtu
7733  f1_fuel_2000_12_194_3_3  ...               -8.906

[1 rows x 11 columns]

## Question 4

In [49]:
data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [51]:
data['fuel_mmbtu_per_unit'].describe()['75%']

17.006

## Question 5

In [48]:
data['fuel_qty_burned'].skew()

15.851495469109503

## Question 6

In [ ]:
data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
180/data.shape[0]

0.00609694136774718

## Question 7

In [ ]:
data['fuel_unit'].dtypes

dtype('O')

## Question 8

In [ ]:
data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [ ]:
data = data[data['fuel_type_code_pudl'] == 'coal']
data

                      record_id  ...  fuel_cost_per_mmbtu
0         f1_fuel_1994_12_1_0_7  ...                1.121
1        f1_fuel_1994_12_1_0_10  ...                1.120
2         f1_fuel_1994_12_2_0_1  ...                1.650
3         f1_fuel_1994_12_2_0_7  ...                1.970
5        f1_fuel_1994_12_2_0_13  ...                1.850
...                         ...  ...                  ...
29503  f1_fuel_2018_12_191_1_14  ...                1.497
29510   f1_fuel_2018_12_403_0_2  ...                1.130
29516    f1_fuel_2018_12_12_0_8  ...                1.100
29517   f1_fuel_2018_12_12_0_10  ...                0.890
29521   f1_fuel_2018_12_12_1_13  ...                1.110

[8547 rows x 11 columns]

## Question 9

In [ ]:
nh = data[data['report_year'] == 1994]
a = nh['fuel_cost_per_unit_burned'].sum()

In [ ]:
sh = data[data['report_year'] == 1998]
b = sh['fuel_cost_per_unit_burned'].sum()

In [ ]:
((a-b)/a)*100

20.56765451826053

## Question 10

In [ ]:
data.groupby('report_year').mean()[data.groupby('report_year').mean()['fuel_cost_per_unit_delivered'] == data.groupby('report_year').mean()['fuel_cost_per_unit_delivered'].max()]

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
2018               134.018957  ...             2.305667

[1 rows x 6 columns]