In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns

In [46]:
from lightgbm import LGBMClassifier

In [47]:
from xgboost import XGBClassifier

In [4]:
data = pd.read_csv('Data_for_UCI_named.csv')

In [5]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [6]:
data.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [7]:
data.describe(include = ['O'])

           stabf
count      10000
unique         2
top     unstable
freq        6380

In [8]:
data.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [14]:
data.drop(['stab'], axis = 1 ,inplace = True)

In [15]:
from sklearn.model_selection import train_test_split

In [91]:
X = data.drop(['stabf'], axis = 1)
y = data['stabf']

In [92]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
scaler = StandardScaler()

In [36]:
scaler1 = StandardScaler()

In [38]:
scaler.fit_transform(X_train)
scaler.transform(X_test)

array([[ 0.59395058, -0.41273345,  1.50392381, ...,  1.1672034 ,
        -1.50732963,  1.08472557],
       [ 0.2021896 ,  0.37441634, -0.18880047, ..., -0.39566024,
         1.41465051,  1.22601069],
       [-1.079044  , -0.31374544, -0.88463426, ..., -1.43849538,
         0.65182081, -1.6821675 ],
       ...,
       [ 0.94782488, -1.66372653, -1.65391963, ...,  0.12639128,
         0.57344494,  1.31934985],
       [-1.1202346 ,  0.19397855, -0.2378051 , ...,  0.79408717,
        -1.36232268, -0.80197116],
       [-1.37764025,  1.51186671,  0.28265058, ..., -0.91749729,
         0.00295027,  1.18902334]])

In [96]:
y_train = pd.get_dummies(y_train, drop_first = True)

In [97]:
c

NameError: name 'c' is not defined

In [98]:
y_train

      unstable
2694         1
5140         1
2568         1
3671         1
7427         1
...        ...
2895         0
7813         0
905          1
5192         1
235          0

[8000 rows x 1 columns]

In [48]:
from sklearn.ensemble import ExtraTreesClassifier as ET

In [49]:
from sklearn.ensemble import RandomForestClassifier as RF

In [54]:
n_estimators = [50,100,300,500,1000]
min_samples_split= [2,3,5,7,9]
min_samples_leaf = [1,2,4,6,8]
max_features = ['auto', 'sqrt', 'log2', None]

In [55]:
model1 = XGBClassifier()
model2 = LGBMClassifier()
model4 = RF()

In [70]:
for i in range(4):
    model3 = ET(n_estimators = n_estimators[i], min_samples_split =min_samples_split[i], min_samples_leaf = min_samples_leaf[i], max_features = max_features[i])
    model3.fit(X_train,y_train)

C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [69]:
model1.fit(X_train,y_train)
model2.fit(X_train,y_train)
model4.fit(X_train,y_train)

C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Hafsah F. Anibaba\Anaconda364\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier()

In [100]:
y_test = pd.get_dummies(y_test, drop_first = True)

In [101]:
y_test

      unstable
9953         1
3850         1
4962         0
3886         0
5437         1
...        ...
3919         0
162          0
7903         0
2242         1
2745         1

[2000 rows x 1 columns]

In [102]:
pred1 = model1.predict(X_test)
pred2 = model2.predict(X_test)
pred3 = model4.predict(X_test)

In [75]:
from sklearn.metrics import accuracy_score

In [103]:
accuracy_score(y_test, pred1)

0.0545

In [104]:
accuracy_score(y_test, pred2)

0.061

In [105]:
accuracy_score(y_test, pred3)

0.076